{{ "<!-- integrations -->" | safeHTML }}
<section class="section pt-0">
    <div class="container">
        <div class="col-12 text-left">
            <h2 class="section-title">> Select the platform you are using</h2>
          </div>
      <div class="row justify-items-around">
        
        <!-- <div class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height">   -->
            
          <a class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height" href="./zapier">        
               <img alt="Zapier" src="zapier.png" style="width: 100%;"/> 
          </a>
          
        <!-- </div> -->
        <!-- <div class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height">   -->
            
            <a class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height" href="./make">        
                 <img alt="Make" src="make.png" style="width: 100%;"/> 
            </a>
            
          <!-- </div> -->
          <!-- <div class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height">   -->
            
            <a class="col-lg-4 col-sm-6 mb-4 px-4 py-5 bg-white shadow text-center d-flex flex-row justify-items-center align-items-center match-height" href="./bubble-io" class="">        
                 <img alt="Bubble.io" src="bubble.png" style="width: 100%;"/> 
            </a>
            
          <!-- </div> -->
       
      </div>
    </div>
  </section>
  {{ "<!-- /integrations -->" | safeHTML }}